/*
Colors used:
Primary Color (Blue): #0095ff;
Secondary Color (Purple): #5A2AEA
*/
* {
  box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif;
}

h1{
    font-size: 30px;
    line-height: 1.5; /* 1.5 times the font size */
    font-style: bold;
}

h2{
  color: #0095ff;
}

p{
    font-size: 16px;
    line-height: 1.2;
    font-style: normal;
    margin-bottom: 30px;
}


  a:hover {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #5A2AEA;
  }
  a:active { /* selected link */
    color: #994c30;
  }

a:focus {
  color: #025d79;
  text-decoration: underline;
}

.button {
background-color: #0095ff;
color: white;
font-size: 16px;
padding: 10px 20px;
}

.button:hover {
    background-color: #cc6540;
    color: white;
}

.button:active {
background-color: #994c30;
color:white
}

.button:visited {
    background-color: #5a2aea;
    color: white;
}

.button:focus{
    background-color: #025d79;
    color: white;
    border: 2px solid #cc6540;
}

img {
  width: 100%;
}

header {
  background-color: #0095ff;
  padding: 10px;
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
  position: relative;
    /*start ------------*/
    width: [object Object]px; 
    height: [object Object]px; 
    border: solid #BDBDBD 1px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)  ; 
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)  ; 
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)  ; 
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#my-work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

.center {
  text-align: center;
}

h3 {
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

#hero {
  background-color: #0095ff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#introduction h1{
  text-align: center;
}


#paddedrow .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  margin: 0 5px;
}

.social svg {
  width: 50px;
  height: auto;
}