/*
Colors used:
Primary Color (Blue): #0095ff;
Secondary Color (Purple): #5A2AEA
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 1.5; /* 1.5 times the font size */
  font-style: bold;
  text-align: center;
}

h2 {
  color: #0079d0;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.2;
  font-style: normal;
  margin-bottom: 30px;
}



a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #5a2aea;
}

a:active { /* selected link */
  color: #994c30;
}

a:focus {
  color: #025d79;
  text-decoration: underline;
}

a {
  color: #0095ff;
  transition: 0.2 opacity;
}

.button {
  display: inline-block;
  background-color: #0079d0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid #5a2aea;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #cc6540;
  color: white;
  opacity: 0.8;
}

.button:active {
  background-color: #994c30;
  color: white;
}

.button:visited {
  background-color: #5a2aea;
  color: white;
}

.button:focus {
  background-color: #025d79;
  color: white;
  border: 2px solid #cc6540;
}

img {
  width: 100%;
}

header {
  background-color: #0095ff;
  padding: 10px 0 4px;
  border-bottom: 3px solid #4a4a4a;
  position: relative;
 /*start------------*/
  width: [object Object]px;
  height: [object Object]px;
  border: solid #0095ff 1px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

header a {
  text-decoration: none;
}

header a:visited {
  color: #fffce1;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.centered {
  text-align: center;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

#my-work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

#hero p {
  text-align: center;
}

.center {
  text-align: center;
}

h3 {
  text-align: center;
}

.logo {
  max-width: 100px;
  height: auto;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2b0d84;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
}

#hero {
  background-color: #0095ff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#introduction h1 {
  text-align: center;
}

#paddedrow .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#skills-tools .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  margin: 0 5px;
}

.social svg {
  width: 50px;
  height: auto;
}

li {
  padding: 0 0 15px 0;
}

#copyright {
  text-align: center;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#my-work p {
  position: relative;
  padding: 20px;
  text-align: center;
}

.profile-picture {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fefefe;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}



/* Breakpoints */

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px 20px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    }

    #hero span {
      display: block;
    }

    .col-md-6 {
      width: 50%;
    }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  p {
    padding: 0 0 0 10px;
  }

  .social {
    text-align: center;
    display: inline-block;
  }

  .button {
    display: inline-block;
    text-align: center;
  }

  .profile-picture {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

  .logo {
    max-width: 80px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
}

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li .icon {
    position: relative;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }
}


/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px 20px;
    font-size: 20px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .profile-picture {
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

  .logo {
    max-width: 80px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li .icon {
    position: relative;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }
}

/* X-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
}

/* Extra-large devices (1920px or larger) */
@media only screen and (min-width: 1920px) {
}


/* Practice Animation Styling */

/* @keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
} 
/* shortened code from: 
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

/* @keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
} */

/* .cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

/* @keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
} */

/* .cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
} */ 

/* Animation Styling - Los Angeles */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
} 

